.index-link{
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  font-size: 32px;
  color: #333;
  .seq{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    background-color: #eee;
    font-size: 30px;
    color: #666;
  }
}
.user-info{
  padding: 40px;
  box-shadow: 0 2px 6px #f1f1f1;
  margin-bottom: 40px;
  border-radius: 8px;
}
.avatar{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}